body {
  margin: 0;
  text-align: center;
}

footer {
  color: Black;
  margin: 0 13% 0 5%;
  text-align: left;
}

h6 {
  text-align: left;
}

h2 {
  text-align: right;
}

ol, dl, ul {
  margin-top: 4%;
}

/* -------colors--------- */
.grey {
  color: grey;
}

/* ---------fonts--------- */
/* horizontal row */
hr {
  border: none;
  height: 6px;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #333;
}
.hr-2nd{margin-bottom: 1px;}
.hr-3rd {
  margin: 2% auto 2%;
}

.hr-4th {
  margin: 2% auto 3%;
}

.hr-bottom {
  margin: 4% 12% 0 12%;
}

/* *******header****** */
.logo-img {
  margin-left: 60%;
  width: 75%;
}

.navbar {
  padding-top: 0 !important;
}

.btn {
  background-color: transparent;
  padding: .1rem .4rem .4rem;
}

.fa-search {
  padding: .1rem;
}

.form-control {
  width: 9rem !important;
  height: 1.5rem !important;
}

.header-top {
  margin: 0 0 auto 40%;
  position: relative;
  font-size: small;
}

.header-top-content {
  margin: 0 1.5rem auto 1.5rem;
  font-weight: 500;
  position: relative;
}

.header-bottom {
  margin-right: 5%;
}

.header-bottom-content {
  margin: auto 1.3rem;
  font-size: .9rem;
  font-weight: 500;
}

/* ********carousel***** */
.carousel-item {
  height: 350px;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.carousel-indicators {
  bottom: 0;
}

/* main section */
.main-section1 {
  margin: 4% 2% 5% 12%;
  width: 53.5%;
  float: left;
}

.right-section1 {
  margin: 5% 12% 5% 2%;
  width: 18.5%;
  float: left;
}

.main::after {
  content: "";
  clear: both;
  display: table;
}

.rect-img1 {
  width: 100%;
  height: auto;
  padding: 0;
}

.sqr-img1 {
  width: 100%;
  height: auto;
  padding: 0;
}

/* ------------section2*********** */
.main-section2 {
  margin: 4% 2% 5% 12%;
  width: 53.5%;
  float: left;
}

.right-section2 {
  margin: 5% 12% 5% 2%;
  width: 18.5%;
  float: left;
}

.main2::after {
  content: "";
  clear: both;
  display: table;
}

.h-text {
  text-align: right;
}

.main-sqr-img1 {
  width: 49.5%;
  height: auto;
}

.main-sqr-img2 {
  width: 49.5%;
  height: auto;
}

.main-sqr-img3 {
  width: 49.5%;
  height: auto;
  padding: 2px 1px 0 0;
}

.main-sqr-img4 {
  width: 49.5%;
  height: auto;
  padding-top: 2px;
}

/* ---------latest-stories1--------- */
.latest-stories {
  text-align: left;
}

.date {
  margin: 4% auto 0;
  font-size: small;
}

.style-weddings {
  font-style: italic;
}

.latest-stories-img {
  border: 7px solid black;
  margin-top: 3%;
  width: 100%;
  height: auto;
  padding: 0;
}

/*============= right-section */
.right-section2-txt1 {
  margin: 40% auto 0 auto;
  padding: 2%;
  border: 1px solid #b6b6b6;
  border-bottom: none;
  padding: 5% auto 0 auto;
}

.right-section2-shop-img {
  border: 1px solid #b6b6b6;
  padding: 2%;
}

.shop-image {
  width: 48%;
  height: auto;
  padding: 1%;
}

.right-section2-1 {
  margin: 45% auto 0 auto;
  border: 1px solid #b5b5b5;
  text-align: left;
}

.dont-miss-text {
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.dont-miss-text1 {
  font-size: 1rem;
  padding: 1rem 3rem 1rem 1rem;
}

.dont-miss-img-rect {
  width: 100%;
  height: auto;
  padding: 0;
}

.dont-miss-img-sq {
  width: 92%;
  height: auto;
  margin: auto auto auto 4.2%;
  padding: 7% auto 7% auto ;
}

/* arrow */

.right-arrow1 {
  position: absolute;
margin-left: 6.4rem;
}
.right-arrow2 {
  position: absolute;
margin-left: 10.5rem;
}

.right-arrow3 {
  position: absolute;
margin-left: 7rem;
}
.right-arrow4 {
  position: absolute;
margin-left: 3.99rem;
}
.right-arrow5 {
  position: absolute;
margin-left: 6.89rem;
}



/* ------------social media section----------- */


.stay {
  text-align: center;
  margin: 4% auto;
  padding-bottom: 5%;
}

.stay-connected {
  border: 1px solid #b6b6b6;
  margin-top: 20%;
  padding-bottom: 5%;
}


.icons {
  padding: 10px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.social-media {
  border-top: 1px solid #b6b6b6;
  padding: 6% 0 6%;
}

.social-med {
  padding: 5%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-camera {
  background: #ef426f;
  color: white;
}






/* -------more-looks1------- */
.more-looks1 {
  padding-top: 40px;
  width: 70px;
  height: 90px;
  color: white;
  background-color: grey;
  margin-bottom: 30px;
  left: 90.1%;
  position: relative;
}

.more-looks2 {
  text-align: center;
  padding-top: 23px;
  width: 70px;
  height: 90px;
  color: white;
  background-color: grey;
  left: 60.4%;
  position: absolute;
}

/* ********instagram*********** */
.insta {
  position: flex;
  padding: 0;
  margin: 0 20% 0 12%;
}

.insta1 {
  padding: .3% 0;
}

.instagram-text {
  text-align: left;
  margin-bottom: 2%;
}

.insta-pics {
  width: 19.6%;
}

/* footer */
/* @media query  */
@media only screen and (max-width: 600px) {
h1{font-size: 1em;}
h3{font-size: .8em;}
.more-looks2 , .more-looks1{visibility: hidden;}
/* {visibility: hidden;} */
}
